<div class= "serach-sample">
<%= form_with(url: search_books_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "キーワードを入力",size: "35", class: "search-input" %>
  <%= form.submit "検索",class: "search-btn" %>
<% end %>
</div>
<div class="contents-row" >
  <% @books.each do |book| %>
    <div class="sample-middle">
   <div class="contet-middle" id="context">
    <%= link_to  book_path(book.id),method: :get do %>
    <div class="book-image">
    <%= image_tag book.image, class: "book-img", :size => '100x100' %>
    </div>
    <div class="book-info">
      <p class="book-name"><%= book.name %></p>
      <p class="topic-name"><%= book.topic %></p>
    <% end %>
    <div class="name">
      <a class="user-name" href="/users/<%= book.user.id %>">
          <span>投稿者：<%= book.user.nicknmame %></span>
          <% weeks = ["日","月","火","水","木","金","土"]%>
          <% week = weeks[book.created_at.wday]%>
          <span class="tweet-time"><%= book.created_at.strftime("%y20/%m/%d(#{week}):%H:%M")%></span>
      </a>
    </div>
    </div>
    </div>
   </div>
  <% end %>
</div>