<%= form_with(url: search_books_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "キーワードを入力",size: "35", class: "search-input" %>
  <%= form.submit "検索",class: "search-btn" %>
<% end %>
<div class="book-explain-box">
   <div class="top-message">
    <div class="book-image">
     <%= image_tag @book.image, class: "book-img", :size => '165x190' %>
    </div>
    <div class="book-info">
      <div class="sample">
      <p class="book-name"><%= @book.name %></p>
      <p class="topic-name"><%= @book.topic %></p>
      </div>
    </div>
    </div>

    <div class="book-text">

    <div class="text-header">
    <div class="header-message">
   
    <div class="text-title">
    レビュー
    </div>

    <div class="select-btn">
    <% if user_signed_in? && current_user.id == @book.user_id %>
    <div class="edit-btn">
    <%= link_to '編集', edit_book_path(@book.id), method: :get, class: "book-red-btn" %>
    </div>
    <div class="delete-btn">
    <%= link_to '削除', book_path(@book.id), method: :delete, class:'book-destroy' %>
    </div>
    <%else%>
      <div class="review-user">
      <a class="review-total" href="/users/<%= @book.user.id %>">
        <span class="left-title">by</span>
        <span class="right-title"><%= @book.user.nicknmame %></span>
      </a>
      </div>
    <% end %>
    </div>
    </div>
    <p class="text-name"><%=safe_join(@book.text.split("\n"),tag(:br)) %></p>
    </div>
    </div>

    <div class="container-comment">
    <div class="comment-king">
    <div class="title-king">
    コメント
    </div>
    </div>

    <% if current_user %>
      <%= form_with(model: [@book, @comment], local: true) do |form| %>
        <div class= "comment-box">
        <%= form.text_area :text, placeholder: "コメントする",class:"comment-second" %>
        </div>
        <div class="comment-sendbtn">
        <%= form.submit "SEND",class:"comment-forword" %>
        </div>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
       <div class="comments">
       <div class="comment-title">
       ＜コメント一覧＞
      </div>
      
      <div class="comment-main">
      <% if @comments %>
        <% @comments.each do |comment| %>
           <div class="main-essance">
            <div class="second-block">
            <span class="comment-username">
            <%= link_to comment.user.nicknmame, "/users/#{comment.user_id}",class:'comment-orner' %>
            </span>
            <span class="side-message">
            ：
            </span>
            </div>
            
            <div class="comment-context">
            <%= safe_join(comment.text.split("\n"),tag(:br))%>
            </div>
            </div>
        <% end %>
      <% end %>
      </div>

    </div>
</div>
</div>