<div class="book-explain-box">
   <div class="top-message">
    <div class="book-image">
     <%= image_tag @book.image, class: "book-img", :size => '100x100' %>
    </div>
    <div class="book-info">
      <p class="book-name"><%= @book.name %></p>
      <p class="topic-name"><%= @book.topic %></p>
      <div class="name">
      <a class="user-name" href="/users/<%= @book.user.id %>">
          <span>投稿者:</span><%= @book.user.nicknmame %>
      </a>
      </div>
    </div>
    </div>
    <div class="book-text">
    <div class="text-title">
    要約
    </div>
    <p class="text-name"><%= simple_format(@book.text) %></p>
    </div>
    <div class="select-btn">
    <% if user_signed_in? && current_user.id == @book.user_id %>
    <div class="edit-btn">
    <%= link_to '編集', edit_book_path(@book.id), method: :get, class: "book-red-btn" %>
    </div>
    <div class="delete-btn">
    <%= link_to '削除', book_path(@book.id), method: :delete, class:'book-destroy' %>
    </div>
    <% end %>
    </div>

</div>