<div class="book-explain-box">
   <div class="top-message">
    <div class="book-image">
     <%= image_tag @book.image, class: "book-img", :size => '150x200' %>
    </div>
    <div class="book-info">
      <p class="book-name"><%= @book.name %></p>
      <p class="topic-name"><%= @book.topic %></p>
      <% if user_signed_in?%>
      <% unless current_user.id == @book.user_id%>
      <div class="user-total">
      <a class="name-total" href="/users/<%= @book.user.id %>">
          <span>投稿者：<%= @book.user.nicknmame %></span>
      </a>
      </div>
      <%end%>
      <%else%>
      <div class="user-total">
      <a class="name-total" href="/users/<%= @book.user.id %>">
          <span>投稿者：<%= @book.user.nicknmame %></span>
      </a>
      </div>
      <%end%>
    </div>
    </div>

    <div class="book-text">

    <div class="text-header">
    <div class="header-message">
    <div class="text-title">
    要約
    </div>

    <div class="select-btn">
    <% if user_signed_in? && current_user.id == @book.user_id %>
    <div class="edit-btn">
    <%= link_to '編集', edit_book_path(@book.id), method: :get, class: "book-red-btn" %>
    </div>
    <div class="delete-btn">
    <%= link_to '削除', book_path(@book.id), method: :delete, class:'book-destroy' %>
    </div>
    <% end %>
    </div>
    </div>
    <p class="text-name"><%= simple_format(@book.text) %></p>
    </div>
    
    </div>

</div>