<!DOCTYPE html>
<html>
  <head>
    <title>Booktweet29265</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="change.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/0ff4165df8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </head>

  <body>
      <header class="header">
      <div class="header_bar">
        <h1 class="main-title">
        <span class="fas fa-feather icon-bird" ></span>
        <a class='title-name' href="/">BookTweet</a></h1>
        <% if user_signed_in? %>
          <div class="second-message">
           <span class="user-message">
           <%= current_user.nicknmame %>
           <ul class="user-info" id="user-acount">
            <li>
             <%= link_to "マイページ", "/users/#{current_user.id}",class: "my-page" %>
             <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "log-out"%>
            </li>
           </ul>
          </span>

          <%= link_to "投稿する", new_book_path, class: "post" %>
          </div>

        <% else %>
          <div class="third-massegae">
            <span class="log-box">
            <%= link_to "ログイン", new_user_session_path, class: "log-in" %>
            </span>
            <span class="sign-box">
            <%= link_to "新規登録", new_user_registration_path, class: "sign-up" %>
            </span>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <script src="namecolor.js"></script>
  </body>
</html>
